@charset "UTF-8";
/* Primera sección */
.intro-content {
  margin-top: 160px;
  display: flex;
}
.intro-content .logo-intro img {
  width: 440px;
}
.intro-content .txt-intro {
  text-align: center;
  width: 50%;
  margin-left: auto;
}
.intro-content .txt-intro a {
  color: #73418a;
  text-decoration: none;
}
.intro-content .txt-intro a:hover {
  color: purple;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.5s;
}

@media (min-width: 320px) and (max-width: 359px) {
  .container .intro-content {
    display: block;
    margin-left: 20px;
  }
  .container .intro-content .logo-intro img {
    width: 280px;
    margin-left: -20px;
    margin-top: -90px;
  }
  .container .intro-content .txt-intro {
    margin-top: 14px;
    width: 280px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -22px;
  }
}
@media (min-width: 360px) and (max-width: 410px) {
  .container .intro-content {
    display: block;
    margin-left: 20px;
  }
  .container .intro-content .logo-intro img {
    width: 340px;
    margin-left: -20px;
    margin-top: -90px;
  }
  .container .intro-content .txt-intro {
    margin-top: 14px;
    width: 340px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -22px;
  }
}
@media (min-width: 411px) and (max-width: 767px) {
  .container .intro-content {
    display: block;
    margin-left: 20px;
  }
  .container .intro-content .logo-intro img {
    width: 380px;
    margin-left: -20px;
    margin-top: -90px;
  }
  .container .intro-content .txt-intro {
    margin-top: 14px;
    width: 380px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -22px;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .container .intro-content {
    display: block;
    margin-left: 20px;
  }
  .container .intro-content .logo-intro img {
    width: 380px;
    margin-left: -20px;
    margin-top: -90px;
  }
  .container .intro-content .txt-intro {
    margin-top: 14px;
    width: 380px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -22px;
  }
}
/* Fin Primera sección */
* {
  scroll-behavior: smooth;
}

p {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: "Archivo Black", sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

a {
  color: #73418a;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  transition: all 0.6s;
}

.log {
  width: 120px;
}

.log:hover {
  opacity: 90%;
  transition: all 0.5s;
}

.wp-button {
  z-index: 2;
  position: fixed;
  margin-left: 280px;
  margin-top: 160%;
  display: flex;
}
.wp-button img {
  width: 80px;
  position: absolute;
  bottom: 40px;
}
.wp-button img:hover {
  transition: all 0.6s;
  border-radius: 200px 200px 200px 200px;
  -webkit-box-shadow: 200px 200px 200px 200px;
  -moz-box-shadow: 200px 200px 200px 200px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

@media (min-width: 320px) and (max-width: 359px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
}
@media (min-width: 360px) and (max-width: 410px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
}
@media (min-width: 411px) and (max-width: 767px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
}
.slider img {
  width: 100%;
}

.slogan {
  background: #73418a;
  color: #ffff;
  text-align: center;
  font-size: 30px;
  height: 120px;
}
.slogan p {
  font-size: 32px;
  padding-top: 6px;
}

@media (min-width: 320px) and (max-width: 359px) {
  .slogan {
    height: 100px;
  }
  .slogan p {
    font-size: 18px;
  }
}
@media (min-width: 360px) and (max-width: 410px) {
  .slogan {
    height: 80px;
  }
  .slogan p {
    font-size: 18px;
  }
}
@media (min-width: 411px) and (max-width: 767px) {
  .slogan {
    height: 80px;
  }
  .slogan p {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .slogan {
    height: 260px;
  }
}
/* Claims */
.claims {
  text-align: center;
  margin-top: 160px;
}
.claims .hclaims {
  margin-top: 40px;
  margin-bottom: 40px;
}
.claims .bclaims {
  display: flex;
  margin-top: 60px;
}
.claims .bclaims .claim-a,
.claims .bclaims .claim-b,
.claims .bclaims .claim-c {
  width: 30%;
  margin-left: 30px;
}
.claims .bclaims .claim-a a,
.claims .bclaims .claim-b a,
.claims .bclaims .claim-c a {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.claims .bclaims .claim-a a img,
.claims .bclaims .claim-b a img,
.claims .bclaims .claim-c a img {
  width: 80px;
  margin-bottom: 20px;
}
.claims .bclaims .claim-a a p,
.claims .bclaims .claim-b a p,
.claims .bclaims .claim-c a p {
  margin-top: 90px;
  display: none;
  opacity: 0%;
}
.claims .bclaims .claim-a a:hover,
.claims .bclaims .claim-b a:hover,
.claims .bclaims .claim-c a:hover {
  position: relative;
  transition: all 0.6s;
}
.claims .bclaims .claim-a a:hover img,
.claims .bclaims .claim-b a:hover img,
.claims .bclaims .claim-c a:hover img {
  opacity: 80%;
}
.claims .bclaims .claim-a a:hover p,
.claims .bclaims .claim-b a:hover p,
.claims .bclaims .claim-c a:hover p {
  position: absolute;
  display: flex;
  opacity: 100%;
}

@media (min-width: 320px) and (max-width: 359px) {
  .claims {
    display: none;
  }
}
@media (min-width: 360px) and (max-width: 410px) {
  .claims {
    display: none;
  }
}
@media (min-width: 411px) and (max-width: 659px) {
  .claims {
    display: none;
  }
}
@media (min-width: 660px) and (max-width: 739px) {
  .claims {
    display: none;
  }
}
@media (min-width: 740px) and (max-width: 1280px) {
  .claims {
    display: none;
  }
}
/* Fin Claims */
/* Footer */
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  text-decoration: none;
  color: purple;
  transition: all 0.5s;
}
.footer .secciones-footer {
  display: flex;
  background: #73418a;
  text-align: center;
  color: #ffff;
  padding: 20px;
  height: 440px;
}
.footer .secciones-footer .f-secser .fss-body ul li {
  margin-top: 10px;
}
.footer .secciones-footer .f-secser,
.footer .secciones-footer .f-seccont,
.footer .secciones-footer .f-seclog {
  width: 30%;
  margin-left: 30px;
}
.footer .secciones-footer .f-seccont .fcont-a .whats,
.footer .secciones-footer .f-seccont .fcont-a .email,
.footer .secciones-footer .f-seccont .fcont-a .tel {
  margin-top: 20px;
}
.footer .secciones-footer .f-seccont .fcont-a .whats img,
.footer .secciones-footer .f-seccont .fcont-a .email img,
.footer .secciones-footer .f-seccont .fcont-a .tel img {
  width: 24px;
  margin-right: 16px;
}
.footer .secciones-footer .f-seccont .fcont-b {
  margin-top: 40px;
}
.footer .secciones-footer .f-seccont .fcont-b .social {
  display: flex;
  margin-left: 68px;
  margin-top: 40px;
}
.footer .secciones-footer .f-seccont .fcont-b .social img {
  width: 60px;
  margin-left: 30px;
}
.footer .secciones-footer .f-seccont .fcont-b .social img:hover {
  opacity: 80%;
  transition: all 0.5s;
}
.footer .secciones-footer .f-secser ul {
  list-style: none;
  padding: 0;
}
.footer .secciones-footer .f-seclog .logo-footer a img {
  width: 90px;
}
.footer .secciones-footer .f-seclog .logo-footer a img:hover {
  opacity: 90%;
  transition: all 0.5s;
}
.footer .secciones-footer .f-seclog .dir-footer {
  margin-top: 40px;
}
.footer .derechos {
  background: #73418a;
  color: white;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.footer .derechos p {
  background: #73418a;
  color: white;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

@media (min-width: 320px) and (max-width: 359px) {
  .footer {
    background: #73418a;
    height: 1080px;
    padding-top: 40px;
  }
  .footer .secciones-footer {
    display: block;
    width: 280px;
  }
  .footer .secciones-footer .f-seccont {
    width: 280px;
    margin-top: 80px;
    margin-left: 0px;
    display: block;
  }
  .footer .secciones-footer .f-seccont .fcont-a {
    width: 280px;
    margin-left: 0px;
  }
  .footer .secciones-footer .f-seccont .fcont-b {
    width: 280px;
  }
  .footer .secciones-footer .f-seccont .fcont-b .social {
    display: flex;
    margin-left: 0px;
    padding-left: 6px;
  }
  .footer .secciones-footer .f-seccont .fcont-b .social img {
    width: 50px;
  }
  .footer .secciones-footer .f-secser {
    margin-left: 2px;
    width: 280px;
  }
  .footer .secciones-footer .f-seclog {
    margin-top: 80px;
    display: block;
    width: 280px;
    margin-left: 0px;
  }
  .footer .secciones-footer .f-seclog img {
    margin-top: 20px;
  }
  .footer .secciones-footer .f-seclog .dir-footer a {
    margin-top: 40px;
  }
  .footer .secciones-footer .f-seclog .dir-footer a img {
    margin-top: 0px;
  }
  .footer .derechos {
    position: relative;
    top: 580px;
  }
}
@media (min-width: 360px) and (max-width: 410px) {
  .footer {
    background: #73418a;
    height: 1080px;
    padding-top: 40px;
  }
  .footer .secciones-footer {
    display: block;
    width: 350px;
  }
  .footer .secciones-footer .f-seccont {
    width: 340px;
    margin-top: 80px;
    margin-left: 0px;
    display: block;
  }
  .footer .secciones-footer .f-seccont .fcont-a {
    width: 340px;
    margin-left: 0px;
  }
  .footer .secciones-footer .f-seccont .fcont-b {
    width: 340px;
  }
  .footer .secciones-footer .f-seccont .fcont-b .social {
    display: flex;
    margin-left: 0px;
    padding-left: 32px;
  }
  .footer .secciones-footer .f-seccont .fcont-b .social img {
    width: 50px;
  }
  .footer .secciones-footer .f-secser {
    margin-left: 2px;
    width: 340px;
  }
  .footer .secciones-footer .f-seclog {
    margin-top: 80px;
    display: block;
    width: 340px;
    margin-left: 0px;
  }
  .footer .secciones-footer .f-seclog img {
    margin-top: 20px;
  }
  .footer .secciones-footer .f-seclog .dir-footer a {
    margin-top: 40px;
  }
  .footer .secciones-footer .f-seclog .dir-footer a img {
    margin-top: 0px;
  }
  .footer .derechos {
    position: relative;
    top: 580px;
  }
}
@media (min-width: 411px) and (max-width: 767px) {
  .footer {
    background: #73418a;
    height: 1080px;
    padding-top: 40px;
  }
  .footer .secciones-footer {
    display: block;
    width: 360px;
    margin-left: 18px;
  }
  .footer .secciones-footer .f-seccont {
    width: 320px;
    margin-top: 80px;
    margin-left: 0px;
    display: block;
  }
  .footer .secciones-footer .f-seccont .fcont-a {
    width: 320px;
    margin-left: 0px;
  }
  .footer .secciones-footer .f-seccont .fcont-b {
    width: 320px;
  }
  .footer .secciones-footer .f-seccont .fcont-b .social {
    display: flex;
    margin-left: 0px;
    padding-left: 20px;
  }
  .footer .secciones-footer .f-seccont .fcont-b .social img {
    width: 50px;
  }
  .footer .secciones-footer .f-secser {
    margin-left: 2px;
    width: 320px;
  }
  .footer .secciones-footer .f-seclog {
    margin-top: 80px;
    display: block;
    width: 320px;
    margin-left: 0px;
  }
  .footer .secciones-footer .f-seclog img {
    margin-top: 20px;
  }
  .footer .secciones-footer .f-seclog .dir-footer a {
    margin-top: 40px;
  }
  .footer .secciones-footer .f-seclog .dir-footer a img {
    margin-top: 0px;
  }
  .footer .derechos {
    position: relative;
    top: 580px;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .footer {
    background: #73418a;
    height: 1080px;
    padding-top: 40px;
  }
  .footer .secciones-footer {
    display: block;
    width: 360px;
    margin-left: 18px;
  }
  .footer .secciones-footer .f-seccont {
    width: 320px;
    margin-top: 80px;
    margin-left: 0px;
    display: block;
  }
  .footer .secciones-footer .f-seccont .fcont-a {
    width: 320px;
    margin-left: 0px;
  }
  .footer .secciones-footer .f-seccont .fcont-b {
    width: 320px;
  }
  .footer .secciones-footer .f-seccont .fcont-b .social {
    display: flex;
    margin-left: 0px;
    padding-left: 20px;
  }
  .footer .secciones-footer .f-seccont .fcont-b .social img {
    width: 50px;
  }
  .footer .secciones-footer .f-secser {
    margin-left: 2px;
    width: 320px;
  }
  .footer .secciones-footer .f-seclog {
    margin-top: 80px;
    display: block;
    width: 320px;
    margin-left: 0px;
  }
  .footer .secciones-footer .f-seclog img {
    margin-top: 20px;
  }
  .footer .secciones-footer .f-seclog .dir-footer a {
    margin-top: 40px;
  }
  .footer .secciones-footer .f-seclog .dir-footer a img {
    margin-top: 0px;
  }
  .footer .derechos {
    position: relative;
    top: 580px;
  }
}
/* Fin Footer */
/* Nosotros */
.inner img {
  width: 100%;
}

.nosotros {
  text-align: center;
  margin-top: 160px;
  margin-bottom: 80px;
}
.nosotros .hnos {
  margin-bottom: 40px;
}
.nosotros .bnos {
  margin-top: 140px;
}
.nosotros .bnos .nos-a,
.nosotros .bnos .nos-b {
  display: flex;
  margin-top: 50px;
}
.nosotros .bnos .nos-a .nosa-img,
.nosotros .bnos .nos-b .nosa-img {
  width: 50%;
}
.nosotros .bnos .nos-a .nosa-txt,
.nosotros .bnos .nos-b .nosa-txt {
  width: 50%;
  margin-top: 80px;
}
.nosotros .bnos .nos-a .nosa-txt ul,
.nosotros .bnos .nos-b .nosa-txt ul {
  list-style: none;
  padding: 0px;
}

@media (min-width: 320px) and (max-width: 359px) {
  .nosotros {
    margin-top: 40px;
  }
  .nosotros img {
    width: 280px;
  }
  .nosotros .bnos {
    margin-top: 40px;
  }
  .nosotros .bnos .nos-a, .nosotros .bnos .nos-b {
    background: #73418a;
    border-radius: 26px;
    width: 300px;
    display: block;
    margin-left: 0px;
    padding: 8px;
    padding-left: 10px;
    color: #ffff;
  }
  .nosotros .bnos .nos-a .nosa-txt, .nosotros .bnos .nos-b .nosa-txt {
    margin-top: 20px;
    width: 280px;
  }
}
@media (min-width: 360px) and (max-width: 410px) {
  .nosotros {
    margin-top: 40px;
  }
  .nosotros img {
    width: 320px;
  }
  .nosotros .bnos {
    margin-top: 40px;
  }
  .nosotros .bnos .nos-a, .nosotros .bnos .nos-b {
    background: #73418a;
    border-radius: 26px;
    width: 340px;
    display: block;
    margin-left: 0px;
    padding: 8px;
    padding-left: 10px;
    color: #ffff;
  }
  .nosotros .bnos .nos-a .nosa-txt, .nosotros .bnos .nos-b .nosa-txt {
    margin-top: 20px;
    width: 320px;
  }
}
@media (min-width: 411px) and (max-width: 767px) {
  .nosotros {
    margin-top: 40px;
  }
  .nosotros img {
    width: 360px;
  }
  .nosotros .bnos {
    margin-top: 40px;
  }
  .nosotros .bnos .nos-a, .nosotros .bnos .nos-b {
    background: #73418a;
    border-radius: 26px;
    width: 390px;
    display: block;
    margin-left: 0px;
    padding: 8px;
    padding-left: 10px;
    color: #ffff;
  }
  .nosotros .bnos .nos-a .nosa-txt, .nosotros .bnos .nos-b .nosa-txt {
    margin-top: 20px;
    width: 360px;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .nosotros {
    margin-top: 40px;
  }
  .nosotros img {
    width: 360px;
  }
  .nosotros .bnos {
    margin-top: 40px;
  }
  .nosotros .bnos .nos-a, .nosotros .bnos .nos-b {
    background: #73418a;
    border-radius: 26px;
    width: 390px;
    display: block;
    margin-left: 0px;
    padding: 8px;
    padding-left: 10px;
    color: #ffff;
  }
  .nosotros .bnos .nos-a .nosa-txt, .nosotros .bnos .nos-b .nosa-txt {
    margin-top: 20px;
    width: 360px;
  }
}
/* Fin Nosotros */
/* Servicios */
.servicios {
  text-align: center;
  margin-top: 160px;
  margin-bottom: 80px;
}
.servicios .hser {
  margin-bottom: 40px;
}
.servicios .bser {
  margin-top: 140px;
}
.servicios .bser .ser-a,
.servicios .bser .ser-b {
  display: flex;
  margin-top: 120px;
}
.servicios .bser .ser-a img,
.servicios .bser .ser-b img {
  border-radius: 30px;
}
.servicios .bser .ser-a img:hover,
.servicios .bser .ser-b img:hover {
  box-shadow: 2px 2px 10px black;
  border-radius: 30px;
  transition: all 0.5s;
  cursor: pointer;
}
.servicios .bser .ser-a .sera-img,
.servicios .bser .ser-a .sera-txt,
.servicios .bser .ser-b .sera-img,
.servicios .bser .ser-b .sera-txt {
  width: 50%;
}
.servicios .bser .ser-a .sera-txt ul,
.servicios .bser .ser-b .sera-txt ul {
  list-style: none;
  padding: 0px;
}
.servicios .bser .ser-a .sera-txt ul li,
.servicios .bser .ser-b .sera-txt ul li {
  margin-top: 6px;
}

@media (min-width: 320px) and (max-width: 359px) {
  .servicios {
    margin-top: 40px;
  }
  .servicios img {
    width: 280px;
  }
  .servicios .bser {
    margin-top: 40px;
  }
  .servicios .bser .ser-b,
.servicios .bser .ser-a {
    width: 300px;
    background: #73418a;
    color: #ffff;
    border-radius: 26px;
    margin-top: 40px;
    margin-left: 10px;
    display: block;
    padding: 8px;
    padding-left: 10px;
    margin-left: 0px;
  }
  .servicios .bser .ser-b .sera-txt,
.servicios .bser .ser-a .sera-txt {
    margin-top: 40px;
    width: 280px;
  }
}
@media (min-width: 360px) and (max-width: 410px) {
  .servicios {
    margin-top: 40px;
  }
  .servicios img {
    width: 320px;
  }
  .servicios .bser {
    margin-top: 40px;
  }
  .servicios .bser .ser-b,
.servicios .bser .ser-a {
    width: 340px;
    background: #73418a;
    color: #ffff;
    border-radius: 26px;
    margin-top: 40px;
    margin-left: 10px;
    display: block;
    padding: 8px;
    padding-left: 10px;
    margin-left: 0px;
  }
  .servicios .bser .ser-b .sera-txt,
.servicios .bser .ser-a .sera-txt {
    margin-top: 40px;
    width: 320px;
  }
}
@media (min-width: 411px) and (max-width: 767px) {
  .servicios {
    margin-top: 40px;
  }
  .servicios img {
    width: 360px;
  }
  .servicios .bser {
    margin-top: 40px;
  }
  .servicios .bser .ser-b,
.servicios .bser .ser-a {
    width: 390px;
    background: #73418a;
    color: #ffff;
    border-radius: 26px;
    margin-top: 40px;
    margin-left: 10px;
    display: block;
    padding: 8px;
    padding-left: 10px;
    margin-left: 0px;
  }
  .servicios .bser .ser-b .sera-txt,
.servicios .bser .ser-a .sera-txt {
    margin-top: 40px;
    width: 360px;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .servicios {
    margin-top: 40px;
  }
  .servicios img {
    width: 360px;
  }
  .servicios .bser {
    margin-top: 40px;
  }
  .servicios .bser .ser-b,
.servicios .bser .ser-a {
    width: 390px;
    background: #73418a;
    color: #ffff;
    border-radius: 26px;
    margin-top: 40px;
    margin-left: 10px;
    display: block;
    padding: 8px;
    padding-left: 10px;
    margin-left: 0px;
  }
  .servicios .bser .ser-b .sera-txt,
.servicios .bser .ser-a .sera-txt {
    margin-top: 40px;
    width: 360px;
  }
}
/* Fin Servicios */
.contacto {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 80px;
}
.contacto .container {
  margin-bottom: 80px;
}
.contacto .bmap {
  border-radius: 6px;
  width: 540px;
  height: 580px;
  background: #73418a;
  color: #ffff;
  padding: 20px;
  position: absolute;
  margin-bottom: 40px;
  right: 10px;
  z-index: 1;
}
.contacto .bmap .formulario input,
.contacto .bmap .formulario textarea {
  border-radius: 6px;
}
.contacto .bmap .formulario input:hover,
.contacto .bmap .formulario textarea:hover {
  transition: all 0.6s;
  background: #f1e3f7;
  -webkit-box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
}
.contacto .mapa iframe {
  z-index: 0;
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 359px) {
  .contacto {
    margin-top: 40px;
  }
  .contacto .bmap {
    width: 300px;
    margin-top: -40px;
    height: 620px;
  }
  .contacto .mapa iframe {
    z-index: 0;
    margin-top: 660px;
  }
}
@media (min-width: 360px) and (max-width: 410px) {
  .contacto {
    margin-top: 40px;
  }
  .contacto .bmap {
    width: 358px;
    margin-top: -40px;
    height: 620px;
  }
  .contacto .mapa iframe {
    z-index: 0;
    margin-top: 660px;
  }
}
@media (min-width: 411px) and (max-width: 767px) {
  .contacto {
    margin-top: 40px;
  }
  .contacto .bmap {
    width: 390px;
    margin-top: -40px;
    height: 620px;
  }
  .contacto .mapa iframe {
    z-index: 0;
    margin-top: 660px;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .contacto {
    margin-top: 40px;
  }
  .contacto .bmap {
    width: 390px;
    margin-top: -40px;
    height: 620px;
  }
  .contacto .mapa iframe {
    z-index: 0;
    margin-top: 660px;
  }
}
.subscribe {
  width: 100%;
  height: 280px;
  padding: 40px;
  color: #73418a;
  background: #f1e3f7;
  text-align: center;
  margin-bottom: 120px;
  margin-top: 120px;
  display: block;
  justify-content: center;
}
.subscribe .bsubs {
  display: flex;
  justify-content: center;
}
.subscribe .bsubs input {
  width: 420px;
}
.subscribe input {
  border-radius: 6px;
}
.subscribe input:hover {
  transition: all 0.6s;
  -webkit-box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
}
.subscribe .hsubs {
  margin-bottom: 40px;
}

@media (min-width: 320px) and (max-width: 359px) {
  .subscribe {
    height: 300px;
    margin-top: -40px;
  }
  .subscribe .bsubs input {
    width: 280px;
  }
}
@media (min-width: 360px) and (max-width: 410px) {
  .subscribe {
    height: 300px;
    margin-top: -40px;
  }
  .subscribe .bsubs input {
    width: 280px;
  }
}
@media (min-width: 411px) and (max-width: 767px) {
  .subscribe {
    height: 300px;
    margin-top: -40px;
  }
  .subscribe .bsubs input {
    width: 320px;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .subscribe {
    height: 300px;
    margin-top: -40px;
  }
  .subscribe .bsubs input {
    width: 320px;
  }
}
.blog {
  margin-top: 80px;
}
.blog .blog__header {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.blog .blog__body .fila {
  display: flex;
  justify-content: center;
}
.blog .blog__body .fila .articulo {
  margin: 20px;
  opacity: 80%;
  text-align: center;
}
.blog .blog__body .fila .articulo:hover {
  cursor: pointer;
  transition: all 0.8s;
  opacity: 100%;
}
.blog .blog__body .fila .articulo a {
  text-decoration: none;
}
.blog .blog__body .fila .articulo a img {
  width: 280px;
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 359px) {
  .blog .blog__body .fila {
    display: block;
  }
  .blog .blog__body .fila .articulo a img {
    width: 220px;
  }
}
@media (min-width: 360px) and (max-width: 410px) {
  .blog .blog__body .fila {
    display: block;
  }
  .blog .blog__body .fila .articulo a img {
    width: 280px;
  }
}
@media (min-width: 411px) and (max-width: 767px) {
  .blog .blog__body .fila {
    display: block;
  }
  .blog .blog__body .fila .articulo {
    margin-left: 12px;
  }
  .blog .blog__body .fila .articulo a .card {
    width: 360px;
  }
  .blog .blog__body .fila .articulo a .card img {
    width: 320px;
  }
}
.miga {
  padding-top: 60px;
  margin-bottom: -20px;
}
.miga a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
.miga a:hover {
  transition: all 0.6s;
  color: #73418a;
  text-decoration: none;
}

.art__test {
  background: #f1e3f7;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 40px;
}
.art__test .art__head {
  margin-top: 40px;
  margin-bottom: 40px;
}
.art__test .art__body img {
  height: 380px;
}
.art__test .art__body .art__txt img {
  margin: 20px;
}
.art__test .art__body .art__txt .finart__img {
  margin-left: 100px;
}
.art__test .art__body .art__txt .wp-block-image {
  display: flex;
  justify-content: flex-start;
}
.art__test .art__body .art__txt .wp-block-image ul {
  padding-top: 20px;
}
.art__test .art__body .art__txt .wp-block-image ul li {
  margin-top: 20px;
}
.art__test .art__body .art__txt .wp-block-image .img__med {
  width: 860px;
}
.art__test .art__body .art__txt .wp-block-image p {
  margin-top: 80px;
}
.art__test .art__body .art__txt .wp-block-image img {
  margin: 20px;
  height: 280px;
}

.comments__box {
  background: #f1e3f7;
  width: 100%;
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.comments__box .container .comment__ej {
  background: #ffff;
  padding: 20px;
  border-radius: 12px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.comments__box .container .comment__ej strong {
  color: #73418a;
}
.comments__box .cb__body {
  background: #ffff;
  border-radius: 6px;
  padding: 40px;
}
.comments__box .cb__body .cb__form {
  padding: 20px;
}
.comments__box .cb__body .cb__form form .form-group {
  display: grid;
}
.comments__box .cb__body .cb__form form .form-group input {
  font-weight: lighter;
  font-style: italic;
  width: 360px;
  height: 34px;
  border-radius: 6px;
  padding-left: 10px;
}
.comments__box .cb__body .cb__form form .form-group input:hover {
  transition: all 0.6s;
  background: #f1e3f7;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
}
.comments__box .cb__body .cb__form form .form-group textarea {
  font-weight: lighter;
  font-style: italic;
  width: 440px;
  height: 180px;
  border-radius: 6px;
  padding-left: 10px;
}
.comments__box .cb__body .cb__form form .form-group textarea:hover {
  transition: all 0.6s;
  background: #f1e3f7;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
}

@media (min-width: 320px) and (max-width: 359px) {
  .comments__box {
    padding: 10px;
  }
  .comments__box .cb__body {
    padding: 10px;
  }
  .comments__box .cb__body .cb__form {
    padding: 0px;
  }
  .comments__box .cb__body .cb__form form .form-group input,
.comments__box .cb__body .cb__form form .form-group textarea {
    width: 260px;
  }
}
@media (min-width: 360px) and (max-width: 410px) {
  .comments__box {
    padding: 10px;
  }
  .comments__box .cb__body {
    padding: 10px;
  }
  .comments__box .cb__body .cb__form {
    padding: 0px;
  }
  .comments__box .cb__body .cb__form form .form-group input,
.comments__box .cb__body .cb__form form .form-group textarea {
    width: 320px;
  }
}
@media (min-width: 411px) and (max-width: 767px) {
  .comments__box {
    padding: 10px;
  }
  .comments__box .cb__body {
    padding: 10px;
  }
  .comments__box .cb__body .cb__form {
    padding: 0px;
  }
  .comments__box .cb__body .cb__form form .form-group input,
.comments__box .cb__body .cb__form form .form-group textarea {
    width: 320px;
  }
}
.access-form {
  margin-bottom: 120px;
}
.access-form .container .card {
  margin-top: 120px;
  text-align: center;
}
.access-form .container .card .card-body .aform .formi {
  margin-left: 300px;
  display: block;
  border: 1px solid #73418a;
  width: 480px;
  padding: 10px;
}
.access-form .container .card .card-body .aform .formi .form-group {
  margin: 10px;
  display: block;
}
.access-form .container .card .card-body .aform .formi .form-group .form-control:hover {
  transition: all 0.6s;
  background: #f1e3f7;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
}
.access-form .container .card .card-body .aform .formi .msg-err {
  font-size: 16px;
  color: #73418a;
}

footer {
  width: 100%;
  background: #593196;
  text-align: center;
  height: 60px;
  padding-top: 16px;
}
footer a {
  color: #ffff;
  text-decoration: none;
  font-size: 18px;
}
footer a:hover {
  color: #ffff;
  text-decoration: none;
  font-size: 20px;
}

.indi .indi__header {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.indi .container .nav__admin {
  text-align: center;
  display: block;
  width: 320px;
  padding: 14px;
  margin-top: 120px;
  margin-bottom: 120px;
}
.indi .container .nav__admin ul {
  list-style: none;
  padding: 8px;
}
.indi .container .nav__admin ul li {
  margin: 10px;
  margin-top: 16px;
}
.indi .container .nav__admin ul li a {
  color: #593196;
  text-decoration: none;
  font-size: 16px;
}
.indi .container .nav__admin ul li a:hover {
  color: #73418a;
  transition: all 0.6s;
}

.historial {
  display: block;
}
.historial .histo__header {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.historial .bhisto .container {
  display: flex;
}
.historial .bhisto .container .panel .container .nav__admin {
  text-align: center;
  display: block;
  width: 320px;
  padding: 14px;
  margin-top: 120px;
  margin-bottom: 120px;
}
.historial .bhisto .container .panel .container .nav__admin ul {
  list-style: none;
  padding: 8px;
}
.historial .bhisto .container .panel .container .nav__admin ul li {
  margin: 10px;
  margin-top: 16px;
}
.historial .bhisto .container .panel .container .nav__admin ul li a {
  color: #593196;
  text-decoration: none;
  font-size: 16px;
}
.historial .bhisto .container .panel .container .nav__admin ul li a:hover {
  color: #73418a;
  transition: all 0.6s;
}
.historial .bhisto .container .formu {
  width: 740px;
  margin-left: 120px;
}
.historial .bhisto .container .formu form .form-control:hover {
  transition: all 0.6s;
  background: #f1e3f7;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
}
.historial .bhisto .container .formu form .userInfo .form-control {
  margin-bottom: 20px;
}

.historall .hall__header {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.historall .hall__body {
  display: flex;
}
.historall .hall__body .pan__historias {
  margin-left: 120px;
}
.historall .hall__body .pan__historias .all {
  margin-top: 80px;
  width: 820px;
  padding: 20px;
}
.historall .hall__body .pan__historias .all .all_header {
  text-align: center;
}
.historall .hall__body .pan__historias .all .all__body {
  display: block;
  text-align: center;
}
.historall .hall__body .pan__historias .all .all__body a {
  color: #000;
  text-decoration: none;
}
.historall .hall__body .pan__historias .all .all__body a:hover {
  transition: all 0.6s;
  color: #593196;
  text-decoration: none;
}
.historall .hall__body .pan__historias .all .all__body .btn {
  border-radius: 50%;
  color: #ffff;
}
.historall .hall__body .pan__historias .all .all__body .btn:hover {
  color: #ffff;
}
.historall .hall__body .panel {
  margin-left: 120px;
}
.historall .hall__body .panel .container .nav__admin {
  text-align: center;
  display: block;
  width: 320px;
  padding: 14px;
  margin-top: 120px;
  margin-bottom: 120px;
}
.historall .hall__body .panel .container .nav__admin ul {
  list-style: none;
  padding: 8px;
}
.historall .hall__body .panel .container .nav__admin ul li {
  margin: 10px;
  margin-top: 16px;
}
.historall .hall__body .panel .container .nav__admin ul li a {
  color: #593196;
  text-decoration: none;
  font-size: 16px;
}
.historall .hall__body .panel .container .nav__admin ul li a:hover {
  color: #73418a;
  transition: all 0.6s;
}

.user__inf {
  display: flex;
}
.user__inf .panel {
  margin-left: 120px;
}
.user__inf .panel .container .nav__admin {
  text-align: center;
  display: block;
  width: 320px;
  padding: 14px;
  margin-top: 120px;
  margin-bottom: 120px;
}
.user__inf .panel .container .nav__admin ul {
  list-style: none;
  padding: 8px;
}
.user__inf .panel .container .nav__admin ul li {
  margin: 10px;
  margin-top: 16px;
}
.user__inf .panel .container .nav__admin ul li a {
  color: #593196;
  text-decoration: none;
  font-size: 16px;
}
.user__inf .panel .container .nav__admin ul li a:hover {
  color: #73418a;
  transition: all 0.6s;
}
.user__inf .container {
  margin-top: 60px;
  margin-bottom: 540px;
  width: 90%;
  text-align: center;
}
.user__inf .container .ui__body .ua_head {
  margin-top: 40px;
  background: #593196;
  color: #ffff;
  height: 44px;
  padding-top: 6px;
}
.user__inf .container .ui__body .uisec {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
.user__inf .container .ui__body .u_desc {
  text-align: start;
  padding: 10px;
}
.user__inf .container .ui__body .u_desc h4 {
  margin-top: 30px;
  margin-bottom: 20px;
}
.user__inf .container .ui__body .u_desc .f_desc {
  margin-top: 20px;
}
.user__inf .container .ui__body .u_desc .u_descri {
  padding: 20px;
}

@media (min-width: 320px) and (max-width: 359px) {
  .art__test {
    padding: 10px;
  }
  .art__test .art__body .img_art img {
    width: 270px;
    height: 180px;
  }
  .art__test .art__body .art__txt .wp-block-image {
    display: block;
    margin: 0px;
  }
  .art__test .art__body .art__txt .wp-block-image img {
    width: 270px;
    height: 180px;
    margin: 0px;
  }
  .art__test .art__body .art__txt .finart__img {
    margin-left: 0px;
    width: 270px;
    height: 140px;
  }
  .art__test .art__body .campanared img {
    width: 270px;
    height: 220px;
    margin-left: 0px;
  }
}
@media (min-width: 360px) and (max-width: 410px) {
  .art__test {
    padding: 10px;
  }
  .art__test .art__body .img_art img {
    width: 320px;
    height: 220px;
  }
  .art__test .art__body .art__txt .wp-block-image {
    display: block;
    margin: 0px;
  }
  .art__test .art__body .art__txt .wp-block-image img {
    width: 320px;
    height: 220px;
    margin: 0px;
  }
  .art__test .art__body .art__txt .finart__img {
    margin-left: 0px;
    width: 320px;
    height: 160px;
  }
  .art__test .art__body .campanared img {
    width: 320px;
    height: 260px;
    margin-left: 0px;
  }
}
@media (min-width: 411px) and (max-width: 767px) {
  .art__test {
    padding: 10px;
  }
  .art__test .art__body .img_art img {
    width: 360px;
    height: 220px;
  }
  .art__test .art__body .art__txt .wp-block-image {
    display: block;
    margin: 0px;
  }
  .art__test .art__body .art__txt .wp-block-image img {
    width: 360px;
    height: 280px;
    margin: 0px;
  }
  .art__test .art__body .art__txt .finart__img {
    margin-left: 0px;
    width: 360px;
    height: 200px;
  }
  .art__test .art__body .campanared img {
    width: 360px;
    height: 300px;
    margin-left: 0px;
  }
}
/* Acceso */
.acc {
  margin-bottom: 102px;
}
.acc h1 {
  margin-top: 40px;
  text-align: center;
}
.acc .f-acceso {
  display: flex;
  justify-content: space-evenly;
  padding: 60px;
}
.acc .f-acceso .card {
  width: 30%;
  margin-top: 20px;
}
.acc .f-acceso .card form {
  margin-top: 10px;
}
.acc .f-acceso .card form .form-group .form-control:hover {
  background: #f1e3f7;
  transition: all 0.6s;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
}
.acc .f-acceso .card form p {
  text-align: center;
}

.control__footer footer {
  width: 100%;
  background: #593196;
  text-align: center;
}
.control__footer footer a {
  color: #ffff;
}

/* Fin Acceso */
/* Panel */
.panel {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 24px;
}

.ger {
  width: 40%;
  text-align: center;
  padding: 20px;
}
.ger .ger__img {
  margin-top: 20px;
}
.ger .ger__img img {
  width: 740px;
  height: 360px;
  margin-left: -80px;
}

/* Fin Panel */
/* Nav Control */
.nv_admin {
  width: 400px;
}
.nv_admin .container {
  display: block;
  width: 390px;
  text-align: center;
  margin-left: 0;
  padding-top: 40px;
}
.nv_admin .container .nv_menu ul {
  padding: 0px;
  list-style: none;
}
.nv_admin .container .nv_menu ul li {
  margin-top: 40px;
  margin-bottom: 50px;
}
.nv_admin .container .nv_menu ul li a {
  color: #593196;
  text-decoration: none;
}
.nv_admin .container .nv_menu ul li a:hover {
  transition: all 0.6s;
  text-decoration: none;
  color: #73418a;
}

/* Fin Nav Control */
/* Historias */
.col-mx-8 .histo_head {
  text-align: center;
}
.col-mx-8 .container .card-title {
  text-align: center;
}
.col-mx-8 .container .aform form .form-group {
  margin-top: 14px;
  margin-bottom: 10px;
}

/* Fin Historias */

/*# sourceMappingURL=estilos.css.map */
